body{
    font-family: "Poppins", sans-serif;
  font-size: 15px;
  box-sizing: border-box;
  background: hsl(0, 0%, 98%);
}
.sec{
    position: relative;
    padding-left: 60px;
    padding-top: 50px;
}
main{
    text-align: center;
}
.t-card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    border-top: 2px solid ;
    border-top-color: hsl(0, 78%, 62%);
    display: inline-block;
    position: relative;
    left: 110px;
    height: 15rem;
    width: 21.875rem;
    background-color:white;
}

.t-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.s-card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    border-top: 2px solid ;
    border-top-color: hsl(180, 62%, 55%);
    height: 15rem;
    width: 21.875rem;
    display: inline-block;
    position: relative;
    left: 90px;
    top:80px;
    background-color:white;
    margin: 0;
    
}

.s-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.c-card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    border-top: 2px solid ;
    border-top-color: hsl(212, 86%, 64%);
    height: 15rem;
    width: 21.875rem;
    display: inline-block;
    position: relative;
    left: 130px;
    top: 110px;
    background-color:white;
    
}

.c-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.k-card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    border-top: 2px solid ;
    border-top-color: hsl(34, 97%, 64%);
    height: 15rem;
    width: 21.875rem;
    display: inline-block;
    position: relative;
    left: 465px;
    background-color:white;
}

.k-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.footer{
    position: relative;
}

.fh1{
    font-size: 1.5em;
  line-height: 1.3;
  font-weight: 200;
}

.fh1 span{
    display: block;
  font-weight: 600;
}

.fp {
  color: var(--grayish-blue);
    width: 33%;
  font-weight: 100;
  text-align: center;
  font-size: 1em;
    margin: auto;
    padding-bottom: 10px;
    line-height: 1.5;
}

.sh2{
    padding: 20px 10px 0 20px;
    border-bottom: 0;
    margin-bottom: 0;
}

.sp{
    padding-left: 20px;
    line-height: 2;
}

.emg{
   float: right;
    position: absolute;
    right: 20px;
    bottom: 20px;
}
